body{
    font-family: "Public Sans", sans-serif;
    color: #375171;
}

header p{
    padding: 15px 20px;
    background: #FFFFFF;
    text-align: right;
    font-weight: bold;
}

main {
    background: rgb(243, 250, 250);
    padding-top: 30px;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
}

main > img{
    margin: 0 0 40px 44px;
    /* border: 2px solid red; */
}

nav {
    /* display: inline-block; */
    position:sticky;
    /* position: sticky; */
    float: right;
    top: 2%;
    /* top: 0; */
    right: 6%;
    padding: 25px 20px;
    /* border: 2px solid blueviolet; */
}

.login {
    padding: 14px 19px;
    border-radius: 20px;
    border: 1px solid  rgb(1, 177, 101);
    color: rgb(1, 177, 101);
    text-decoration: none;
    font-weight: bold;
}
.login:hover {
    color: #FFFFFF;
    background: rgb(4, 147, 85);
}

.create {
    background: #375171;
    margin-left: 20px;
    padding: 14px 19px;
    border-radius: 20px;
    border: 1px solid  #375171;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.create:hover {
    background:#3a669c;
}

.section1 {
    display: flex;
    justify-content:space-between;
    width: 95%;
    margin-left: 4%;
    /* padding: 60px 0 60px 0; */
    padding-bottom: 60px;
}

.section1 h1 {
    font-family: "Train One", system-ui;
    font-size: 70px;
    color: #375171;
}

.section1 div {
    width: 40%;
}

section p {
    width: 86%;
    font-size: 27px;
    line-height: 32px;
}


/**** SECTION 2 ******/


.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background: #FFFFFF;
}

.section2 h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding:  20px 0 ;
}

.section2 > div {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.section2 img {
    border-radius: 35px;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 58%;
    /* gap: 10px; */
}

.items {
    display:flex;
}

.items::before {
    font-size: 20px;
    font-weight: bold;
    content: "✓";
    color: rgb(1, 177, 101);
}

.title {
    color: rgb(1, 177, 101);
    font-size: 20px;
    font-weight: bold;
}

.contenido-items{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin: 0 15px ;
    margin-bottom: 30px;
}

/*section3*/
.section3{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

article{
    display: flex;
    width: 80%;
    margin: 60px auto;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid salmon; */
}

article img{
    width:40%;
    height: auto;
}

article strong {
    font-weight: bold;
    font-size: 35px;
}

article p {
    font-size: 25px;
    width: 38%;
}


footer {
    padding: 60px 1px;
    background: rgb(1, 177, 101);
    border: 5px dashed #375171;
    text-align: center;
}


