* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 250, 250);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
    background: rgb(243, 250, 250);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#nav-links {
    display: flex;
    list-style: none;
}

.contact-link {
    color: inherit;
    text-decoration: none;
}

.contact-link:hover {
    color: #2691d9;
}

main {
    padding: 100px;
}

main>img {
    margin: 0 0 40px 44px;
    /* border: 2px solid red; */
}

.login {
    padding: 14px 19px;
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid rgb(1, 177, 101);
    color: rgb(0, 136, 77);
    text-decoration: none;
    text-wrap: nowrap;
    font-weight: bold;
    background-color: rgba(1, 177, 101, 0.397);
}

.login:hover {
    color: #FFFFFF;
    background: rgb(4, 147, 85);
}

.create {
    background: #375171;
    margin-left: 20px;
    margin-right: 20px;
    padding: 14px 19px;
    border-radius: 20px;
    border: 1px solid #375171;
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
    font-weight: bold;

}

.create:hover {
    background: #3a669c;
}


.section1 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 4%;
    /* padding: 60px 0 60px 0; */
    padding-bottom: 60px;
}

.section1 h1 {
    font-family: "Train One", system-ui;
    font-size: 70px;
    color: #375171;
    font-size: 70px;
    font-weight: 100;
    vertical-align: baseline;
}

.section1 div {
    width: 40%;
}

section p {
    width: 86%;
    font-size: 20px;
    line-height: 32px;
}


/**** SECTION 2 ******/


.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

}

.section2 h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0;
}

.section2>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
}

.section2-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 58%;
    /* gap: 10px; */
}

.items {
    display: flex;
}

.items::before {
    font-size: 20px;
    font-weight: bold;
    content: "✓";
    color: rgb(1, 177, 101);
}

.title {
    color: rgb(1, 177, 101);
    font-size: 20px;
    font-weight: bold;
}

.contenido-items {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin: 0 15px;
    margin-bottom: 30px;
}

/*section3*/
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

/*section4*/
.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

article {
    display: flex;
    width: 80%;
    margin: 60px auto;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid salmon; */
}

article img {
    width: 40%;
    height: auto;
}

article strong {
    font-weight: bold;
    font-size: 35px;
}

article p {
    font-size: 25px;
    width: 38%;
}

footer {
    width: 100%;
    height: auto;
    min-height: 80px;
    padding: 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #dcdfea;
    margin-top: auto;
}

.footer-text {
    text-align: center;
    align-content: center;
    font-size: 0.6em;
    color: gray;
}

.footer-social-media-list {
    align-items: center;
    font-size: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: right;
    padding: 0px 30px 0px 0px;
}

.footer-social-media-list li:hover {
    transform: scale(1.3);
}


/* ---------------------- */
/* Formulario de Contacto */
/* -----------------------*/
/* ---------------------- */
/* Formulario de Contacto */
/* -----------------------*/


.container {
    max-width: auto;
    margin: 60px auto;
}

.container ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin: 20px;
}

.brand span {
    color: #375171;
    font-family: "Train One", system-ui;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.wrapper>* {
    padding: 2em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
    width: 100%;
    background: #C3C9DD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: auto;
    position: relative;
}

.company-info h3,
.company-info ul,
.brand {
    text-align: left;
    margin: 0 0 1rem 0;
}

.company-info img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
    background: #dcdfea;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact select {
    margin: 0;
    width: 100%;
    padding: 0.8em;
    border: solid 1px #627EDC;
    border-radius: 4px;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 0.8em;
    border: solid 1px #627EDC;
    border-radius: 4px;
}

.contact form textarea {
    resize: none;
}

.checkbox {
    display: flex;
    width: 100%;
    padding: 0.8em;
    gap: 10px;
    border: solid 1px #627EDC;
    border-radius: 4px;
    grid-column: 1 / 3;
    justify-content: center;
}

.checkbox input {
    max-width: 1.3em;
    display: flex;
    align-items: center;
}


.contact form button {
    background: #375171;
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
    background: #3a669c;
    color: #ffffff;
    outline: 0;
}


/* Social Media Icons */
.social-media-list {
    display: flex;
    position: relative;
    font-size: 2em;
    justify-content: left;
    gap: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li:hover {
    transform: scale(1.3);
}

.social-media-icon {
    color: #375171;
}

.social-media-icon:hover {
    color: #3a669c;
}



/*-------------------*/
/*---MEDIA QUERIES---*/
/*-------------------*/
/*entre 467px y 768px*/

@media only screen and (min-width: 500px) and (max-width:768px){
    footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-text{
        display: none;
    }
    .contact-link{
        display: none;
    }
    .footer-social-media-list{
        justify-content: center;
    }
}

/* 768px en adelante */
@media only screen and (max-width:768px){

    .wrapper {
        box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
        display: grid;
        grid-template-columns: 1fr;
    }

    .wrapper>* {
        padding: 1em;
    }

    .company-info img {
        display: none;
    }

    .social-media-list {
        justify-content: center;
    }

    .company-info h3,
    .company-info ul {
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .brand {
        text-align: center;
        letter-spacing: 0.1em;
        margin: 20px;
    }
    .footer-text{
        font-size: 0.6em;

    }
}

/* ----------------- */
/* Pantallas Grandes */
/* ----------------- */
/* a partir de 2000px */
@media only screen and (min-width: 2000px) {
    .container {
        max-width: 1700px;
        margin: 60px auto;
        font-size: 1.5em;
    }

    .contact form label {
        display: block;
        font-size: 25px;
    }

    .contact form button,
    .contact form input,
    .contact form textarea,
    .contact form select {
        width: 100%;
        padding: 0.8em;
        border: solid 1px #627EDC;
        border-radius: 4px;
        font-size: 20px;
    }
    .footer-text{
        font-size: 1em;
    }
}

/* ----------------- */
/* REGISTER */
/* ----------------- */

